<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Such Beer</title>
    <meta name="description" content="AngularJS based webapp for planning the next after-work beer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/ng-material-datetimepicker@1.6.3/dist/material-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="resources/img/such_favicon.png"/>
</head>

<body ng-app="SuchBeer" ng-controller="ApplicationCtrl as app" layout="column" ng-cloak>
    <md-toolbar class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>{{'title' | translate}}</h2>
        <md-menu>
            <md-button ng-click="$mdMenu.open()" ng-show="!!app.user">
                <md-icon alt="user">person</md-icon>
                <span hide show-gt-sm>{{app.user.name}}</span>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="app.logout()">
                        <md-icon alt="logout">power_settings_new</md-icon>
                        {{'logout' | translate}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
    <div class="container" layout="column" flex ng-view></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>
    <script src="https://unpkg.com/ng-material-datetimepicker@1.6.3/dist/angular-material-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="app.js"></script>
</body>

</html>